<div id="header">
    <h1>Download</h1>
</div>

        
        <div id="body-content">
          <h1>Souce Code</h1>
          <p>
            Get the latest code from <a href="http://railsbank-svn.cvsdude.com/abank">Subversion</a>.
            Login as "railsbank_guest" with the password of "password".
          </p>
          <p>
            <i>Note: This may be a later version than the code deployed to this site.</i> 
              
          </p>
        </div>

